<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/img/octocat.png" type="image/png">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/feuTricolore.css">
    <title>My Traffic Light</title>

</head>

<body>
    <nav class="nav nav-dark bg-dark  text-center sticky-top">
        <div class=" m-3 text-light w-100 ">
            <h1>Feu tricolore</h1>
        </div>
    </nav>
    <section>

        <div class="container mb-5">

            <div id="trafficLight">
                <div>Click to Start and Stop</div>
                <div class="circle" id="Red"></div>
                <div class="circle" id="Yellow"></div>
                <div class="circle" id="Green"></div>
            </div>
            <!-- <div class="trafficLight">
            <div class="circle red" color="red"></div>
            <div class="circle" color="yellow"></div>
            <div class="circle" color="green"></div>
        </div <div>
        <button>Stop Pieton</button>
        </div> -->
        </div>
    </section>

    <footer class="bg-dark text-white text-center fixed-bottom p-3">
        <div class="container-fluid">
            <p>2020 - MilleCodesLN - Mille Hélène - <a href="../index.html">Accueil</a></a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="../JS/feuTricolore.js"></script>
</body>

</html>