<!DOCTYPE html>
<html lang="fr">

<head>
    <!--Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="../assets/img/octocat.png" type="image/png" />

    <!-- Bootstrap4 CSS -->
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" />

    <link rel="stylesheet" href="../CSS/main.css" />

    <title>TP SPA HTML CSS BOOTSTRAP</title>
</head>

<body class="container-fluid">
    <!--           HERO            -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/project_unknow.png" class="d-block w-100" alt="image d'un projet inconnu" />
            </div>
            <div class="carousel-item">
                <img src="../assets/img/code.jpg" class="d-block w-100" alt="écran de code" />
            </div>
            <div class="carousel-item">
                <img src="../assets/img/mobile-phone-1875813_1280.jpg" class="d-block w-100" alt="virtualisation 3D " />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--        /HERO          -->

    <!--         SERVICES        -->
    <div class="container-fluid marketing" id="marketing">
        <!-- Three columns of text below -->
        <div class="row" justify-content="center">
            <div class="col-lg-4">
                <div>
                    <img src="../assets/img/wonder-woman-2478971_640.jpg" class="rounded-circle" alt="wonder-woman" />
                </div>
                <h2>Heading</h2>
                <p>
                    Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo
                    risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna.
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div>
                    <img src="../assets/img/batgirl-2478979_640.jpg" class="rounded-circle" alt="batgirl" />
                </div>
                <h2>Heading</h2>
                <p>
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                    eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
                    amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh.
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div>
                    <img src="../assets/img/superman-2478978_640.jpg" class="rounded-circle" alt="superman" />
                </div>
                <h2>Heading</h2>
                <p>
                    Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
                    egestas eget quam. Vestibulum id ligula porta felis euismod semper.
                    Fusce dapibus,
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>

    <!--      /Services     -->

    <div class="row" id="team">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="../assets/img/owen-beard-K21Dn4OVxNw-unsplash.jpg" height="50%"
                    alt="robot" />
                <div class="card-body">
                    <h4 class="card-title">Member 1</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                        aut mollitia eum ipsum fugiat odio officiis odit.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="../assets/img/owen-beard-K21Dn4OVxNw-unsplash.jpg" height="50%"
                    alt="robot" />
                <div class="card-body">
                    <h4 class="card-title">Member 2</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                        aut mollitia eum ipsum fugiat odio officiis odit.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="../assets/img/owen-beard-K21Dn4OVxNw-unsplash.jpg" height="50%"
                    alt="robot" />
                <div class="card-body">
                    <h4 class="card-title">Member 3</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                        aut mollitia eum ipsum fugiat odio officiis odit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--         PORTFOLIO       -->
    <div class="row portfolio">
        <div class="col-sm mb-6 portfolio">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellat
                enim ipsa, exercitationem voluptas est maxime similique nihil fugit
                officiis! Voluptatem quibusdam eaque dolorum? Aut nisi similique
                obcaecati nam cumque? Incidunt, quo corporis recusandae velit aut
                possimus in itaque. Dolores fugit vitae, non laudantium incidunt
                eveniet, labore quos explicabo sunt reprehenderit impedit, aperiam
                ipsum culpa odio laboriosam. Iste, ullam distinctio. Corrupti ipsam ex
                quisquam pariatur rem sapiente, aliquid itaque! Hic nesciunt laborum
                eius perferendis sapiente dolor provident ducimus totam. Quaerat
                dolores officiis eos autem nobis veritatis nihil neque obcaecati
                omnis. Alias hic nihil, iste placeat minima sit, odit asperiores culpa
                dolor et sapiente saepe in ea at perferendis facere vitae ipsum sequi
                provident perspiciatis eaque voluptatum dolorem eligendi. Vel, a?
                Temporibus unde officiis aspernatur iste architecto. Dolores numquam
                nobis maiores deserunt quas, quisquam, ullam dolorem sunt cum eveniet
                hic sed vitae ad quibusdam voluptatem soluta iste. Sint laborum dolore
                esse!
            </p>
        </div>
        <div class="col-sm mb-6 portfolio">
            <img src="../assets/img/caspar-camille-rubin-0qvBNep1Y04-unsplash.jpg" />
        </div>
    </div>

    <div class="row contactUs">
        <div class="col-sm mb-6 contactUs">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d11458.683677854446!2d1.4847355846557564!3d44.11078181302475!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1583975341698!5m2!1sfr!2sfr"
                width="600%" height="520" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <div class="col-sm mb-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nom</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom" />
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea id="exampleFormControlTextarea1" type="textarea" rows="3"
                        placeholder="Votre message"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-sm">
                    Envoyer
                </button>
            </form>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="container-fluid">
        <div class="container-fluid">
            <div class="row" justify-content="center">
                <div class="col-lg-4 mb-4">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text" href="#">Cool stuff</a></li>
                        <li><a class="text" href="#">Random feature</a></li>
                        <li><a class="text" href="#">Team feature</a></li>
                        <li><a class="text" href="#">Stuff for developers</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-4">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text" href="#">Resource</a></li>
                        <li><a class="text" href="#">Resource name</a></li>
                        <li><a class="text" href="#">Another resource</a></li>
                        <li><a class="text" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-4">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text" href="#">Team</a></li>
                        <li><a class="text" href="#">Locations</a></li>
                        <li><a class="text" href="#">Privacy</a></li>
                        <li><a class="text" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <hr />
            <p>2020 - MilleCodesLN - Mille Hélène - <a href="../index.html">Accueil</a></a></p>
        </div>
    </footer>

    <!--Scripts JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="../JS/bootstrap.min.js"></script>
</body>

</html>